/* form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 40vh;
    margin: 10vh auto;
    justify-content: space-around;
} */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Adicione mais estilos conforme necessário para o segundo formulário */

